
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont5705.eot?t=1496742971209'); /* IE9*/
  src: url('../fonts/iconfont5705.eot?t=1496742971209#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont5705.woff?t=1496742971209') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont5705.ttf?t=1496742971209') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont5705.svg?t=1496742971209#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-dianhua:before { content: "\e600"; }

.icon-icon05:before { content: "\e616"; }

.icon-mianfeijianli:before { content: "\e608"; }

.icon-pinterest:before { content: "\e82d"; }

.icon-skype:before { content: "\e860"; }

.icon-buxiugang:before { content: "\e64a"; }

.icon-google0:before { content: "\e68f"; }

.icon-linkedin0:before { content: "\e698"; }

.icon-2fengongsi:before { content: "\e62b"; }

.icon-dianhua1:before { content: "\e605"; }

.icon-changjianwenti:before { content: "\e648"; }

.icon-iconfontdianhua3:before { content: "\e611"; }

.icon-facebookfacebook52:before { content: "\e602"; }

.icon-LC_icon_chat_fill:before { content: "\e63b"; }

.icon-tuitetwitter43:before { content: "\e60c"; }

.icon-fenxiang:before { content: "\e621"; }

.icon-xiangxidizhi:before { content: "\e67b"; }

.icon-inboxinstagram:before { content: "\e6bc"; }

.icon-fanhuidingbu:before { content: "\e618"; }

.icon-wechat:before { content: "\e891"; }

.icon-xiala:before { content: "\e60e"; }

.icon-shangla:before { content: "\e61d"; }

.icon-xiazai:before { content: "\e61b"; }

.icon-riqixuanze:before { content: "\e7e7"; }

.icon-download:before { content: "\e627"; }

.icon-dingwei:before { content: "\e612"; }

.icon-whatsapp:before { content: "\e790"; }

.icon-youxiang:before { content: "\e609"; }

.icon-daoluguanli:before { content: "\e815"; }

.icon-mianfei-xianxing:before { content: "\e8b1"; }

.icon-home:before { content: "\e60b"; }

.icon-diban-hui:before { content: "\e604"; }

.icon-chanpin:before { content: "\e6e1"; }

.icon-chakan:before { content: "\e60f"; }

.icon-upload-demo:before { content: "\e6d1"; }

.icon-leiyanliaoyouqix:before { content: "\e689"; }

.icon-whatsapp1:before { content: "\e603"; }

.icon-guandao:before { content: "\e614"; }

.icon-lunchuan:before { content: "\e662"; }

.icon-daqiao:before { content: "\e606"; }

.icon-youtube:before { content: "\e617"; }

.icon-jixie_:before { content: "\e607"; }

